body {
	margin: 0 auto;
	padding: 0;
	font-family: "etica-display-1","etica-display-2", sans-serif;
	color: rgb(35,32,31);
	font-weight: 700;
	text-align: center;
}

.wrapper {
	width: 400px;
	height: 300px;
	margin: 170px auto;
	padding: 0px;
	transition: .5s all ease;
}

.wrapper:hover {
	-webkit-transform: translateY(-10px);
}

.outsides {
	width: 182px;
	height: 161px;
	background-color: none;
	border: 8px solid rgb(35,31,32);
	border-top: white; 
	border-bottom: white; 
	margin: 73px auto;
}

.top-left {
	margin: -245px 0px 0px 101px;
	width: 50px;
	height: 8px;
	background-color: rgb(35,31,32);
	-webkit-transform: rotate(-20deg);
}

.top-right {
	margin: -11px 0px 0px 222px;
	width: 77px;
	height: 8px;
	background-color: rgb(35,31,32);
	-webkit-transform: rotate(20deg);
}

.bottom-left {
	margin: 178px 0 0 99px;
	width: 106px;
	height: 8px;
	background-color: rgb(35,31,32);
	-webkit-transform: rotate(20deg);
}

.bottom-right {
	margin: -8px 0px 0px 196px;
	width: 105px;
	height: 8px;
	background-color: rgb(35,31,32);
	-webkit-transform: rotate(-20deg);
}

.post {
	margin: -223px 0px 0px 201px;
	width: 9px;
	height: 93px;
	background-color: rgb(35,31,32);
	-webkit-transform: skewX(-22deg);
}

.flag-1 {
	margin: -83px 0px 0px 167px;
	width: 43px;
	height: 30px;
	background-color: rgb(140, 198, 63);
	-webkit-transform: skew(-27deg) rotate(-5deg);
	z-index: 100;
}

.flag-2 {
	margin: -21px 0px 0px 142px;
	width: 28px;
	height: 30px;
	background-color: rgb(140, 198, 63);
	-webkit-transform: skew(-28deg) rotate(-5deg);
	box-shadow: -7px 0px 0px white;
}

.dot {
	position: absolute;
	margin: -28px 0px 0px 187px;
	width: 9px;
	height: 9px;
	border-radius: 100%;
	background-color: white;
	z-index: 9999;
}

.sc {
	margin: 0 auto;
	margin-top: 16px;
	font-size: 19px;
	letter-spacing: 66px;
	padding-left: 56px;
	padding-bottom: 10px;
}

.charleston {
	margin: 0 auto;
	font-size: 38px;
	letter-spacing: 2px;
	background-color: white;
	-webkit-transform: rotate(-5deg) skew(-5deg);
}

.newspring-church {
	margin: 0 auto;
	margin-top: 11px;
	width: 150px;
	font-size: 19px;
	letter-spacing: 2px;
}





























